<div style="color:#FFFFFF">
<h1 >All Categories </h1>
<div class="d-flex">
<div class="row row-cols-4 row-cols-md-2 g-4">
<% @excercise_category.each do |excercise_category| %>
  <div class="col">
    <div class="card">
      <img src="<%= excercise_category.image_url %>" class="card-img-top"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title"><%= excercise_category.title %></h5>
        <p class="card-text">
          <%= excercise_category.description %>
          <a href="/excercise_categories/<%= excercise_category.id %>">More info</a>
        </p>
      </div>
    </div>
<% end %>
</div>
 </div>
 </div>