<div style="color:#FFFFFF">
<h1>All excercises</h1>
</div>
<% @excercises.each do |excercise| %>




<div class="card" style="width: 36rem;">
  <div class="card-body">
    <h5 class="card-title"><%= excercise.name %></h5>
    <p class="card-text"><%= excercise.description%> </p>
    <img class="card-img-top" src="<%= excercise.image_url %>" alt="Card image cap">
    <a href="/excercises/<%= excercise.id %>" class="btn btn-dark">More info</a>
    
</div>
</div>
<% end %>
<a href="/excercise_categories" class= "btn btn-light" >View categories </a>
</div>




